*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    border: none;
}

img {
    display: block;
    max-width: 100%;
}

html {
    -webkit-text-size-adjust: none; /* for iOS Safari */
    text-size-adjust: none; /* for other mobile browsers */
}

@media (prefers-reduced-motion: no-preference) {
    html {
        scroll-behavior: smooth;
    }
}

main {
    height: 100vh;
}

.container,
td {
    border-color: black;
    border-width: 2px;
    border-style: solid;
}

.container {
    border-collapse: collapse;
    width: 80%;
    height: 60%;
    margin: auto;
}

.active {
    background-color: red;
}

.success {
    color: green;
}

.fail {
    color: red;
}